body{
background-image: url("t.jpg");
width:100%;
}
@media only screen and (max-width: 600px) {
body{
background-image: url("t.jpg");
width:100%;
}
}
.div{
height:400px;
width:500px;
margin-left:410px;
margin-top:50px;
background-color:white;
}
@media only screen and (max-width: 600px) {
.div{
height:400px;
width:500px;
margin-left:410px;
margin-top:50px;
background-color:white;
}
}
.div1{
margin-left:460px;
margin-top:50px;
}
@media only screen and (max-width: 600px) {
.div1{
margin-left:460px;
margin-top:50px;
}
}
.p{
font-size:40px;
color:black;
margin-top:30px;
}
@media only screen and (max-width: 600px) {
.p{
font-size:40px;
color:black;
}
}
.l{
margin-left:10px;
font-size:30px;
padding-top:30px;
}
@media only screen and (max-width: 600px) {
.l{
margin-left:130px;
font-size:30px;
padding-top:30px;
}
}
.in{
margin-top:-30px;
margin-left:4%;
height:30px;
width:90%;
border:solid black;
background-color:#b0b0b0;
}
@media only screen and (max-width: 600px) {
.in{
margin-top:-30px;
margin-left:4%;
height:30px;
width:90%;
border:solid black;
background-color:#b0b0b0;
}
}
.in1{
margin-top:10px;
margin-left:4%;
height:40px;
width:90%;
border:solid black;
background-color:#b0b0b0;
}
@media only screen and (max-width: 600px) {
.in1{
margin-top:10px;
margin-left:4%;
height:40px;
width:90%;
border:solid black;
background-color:#b0b0b0;
}
}